[include]
    path = ~/.gitconfig.local

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    rv = remote -v

[init]
    defaultBranch = master

[pull]
    rebase = false
